<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear Reto</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon style="font-size: 25px;" md="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Parámetros</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-item>
        <ion-label>Provincia</ion-label>
        <ion-select interface="action-sheet" cancelText="Cancelar" doneText="Aceptar">
          <ion-select-option value="brown">San José</ion-select-option>
          <ion-select-option value="blonde">Cartago</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Cantón</ion-label>
        <ion-select interface="action-sheet" cancelText="Cancelar" doneText="Aceptar">
          <ion-select-option value="brown">Tarrazú</ion-select-option>
          <ion-select-option value="blonde">Alajuelita</ion-select-option>
          <ion-select-option value="black">Desamparados</ion-select-option>
          <ion-select-option value="red">Montes de Oca</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Fecha y Hora</ion-label>
        <ion-datetime cancelText="Cancelar" doneText="Aceptar" displayFormat="D MMM YYYY h a" min="2019"></ion-datetime>
      </ion-item>
      <ion-button (click)="buscarCanchas()" class="ion-padding" expand="block" color="secondary">BUSCAR</ion-button>
      <br>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Cancha</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

    </ion-card-content>
  </ion-card>
   -->


 

</ion-content>