<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  [text]="''" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top" >
 
  
  
  <div class="ion-text-center"><img src="https://i.pinimg.com/originals/d1/1a/45/d11a452f5ce6ab534e083cdc11e8035e.png" alt="" style="width: 100px; height: 100px;"></div>
 
  <!--<ion-item>-->
    <!--<ion-label position="floating">Id</ion-label>-->
    <!--<ion-input [(ngModel)]="usuario.id"></ion-input>-->
  <!--</ion-item>-->

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="usuario.nombre" [disabled]="editar"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input [(ngModel)]="usuario.apellidos" [disabled]="editar"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="usuario.email" [disabled]="editar"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Fecha Nacimiento</ion-label>
    <ion-datetime [disabled]="editar"  [(ngModel)]="usuario.fechaNacimiento" display-format="DD/MMMM/YYYY"
    monthNames='Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre'
    doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input [(ngModel)]="usuario.telefono" [disabled]="editar"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Sexo</ion-label>
    <ion-input [(ngModel)]="usuario.sexo" [disabled]="editar"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col size="6">
        <ion-item class="ion-no-padding">
            <ion-label>Estado</ion-label>
            <ion-toggle name="estado" [(ngModel)]="usuario.estado" [disabled]="editar"></ion-toggle>
        </ion-item>
    </ion-col>
</ion-row>


  
 


    <ion-button class="ion-padding" expand="block" color="secondary" (click)="editarPerfil()">
      {{this.editar ? 'EDITAR' : 'GUARDAR'}}
    </ion-button>


</ion-content>
