<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Cancha</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="cerrarModal()">
                <ion-icon style="font-size: 25px;" md="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>

    <div *ngIf="!actualizar">
        <ion-card class="ion-text-center" *ngIf="!isUploading && !isUploaded">
            <ion-card-header>
                <ion-card-title>Foto</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <div class="fileUpload btn btn-primary">
                    <input id="uploadBtn" type="file" class="upload" (change)="uploadFile($event.target.files)"/>
                </div>
            </ion-card-content>
        </ion-card>

        <ion-card class="ion-text-center" *ngIf="isUploading && !isUploaded">
            <ion-card-header>
                <ion-card-title>Archivo selecionado:<b>{{ fileName }}</b></ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <div *ngIf="percentage | async as pct">
                    Progreso: {{ pct | number }}%
                    <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
                </div>
                <div *ngIf="snapshot | async as snap">
                    <!--<p class="ion-no-margin">Tamaño del archivo: {{ snap.totalBytes | fileSizePipe }}-->
                        <!--Transferido: {{ snap.bytesTransferred | fileSizePipe }}</p>-->
                    <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                        <ion-button
                                color="warning"
                                size="small"
                                (click)="task.pause()"
                                class="button is-warning">Pausar
                        </ion-button>
                        <ion-button
                                size="small"
                                (click)="task.resume()"
                                class="button is-info">Resumir
                        </ion-button>
                        <ion-button
                                color="danger"
                                size="small"
                                (click)="task.cancel()"
                                class="button is-danger">Cancelar
                        </ion-button>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="actualizar" class="ion-text-center">
        <br>
        <img [src]="canchaObjeto.imagen" style="border-radius: 10%"/>
        <!--<a [href]="canchaObjeto.imagen" target="_blank" rel="noopener">Download</a>-->
    </div>

    <ion-card>

        <ion-card-content>
            <form class="form" (ngSubmit)="guardar()">

                <ion-item>
                    <ion-label position="floating">Nombre</ion-label>
                    <ion-input name="nombre" type="text" [(ngModel)]="canchaObjeto.nombre" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Provincia</ion-label>
                    <ion-select name="codigoProvincia" [(ngModel)]="canchaObjeto.ubicacion.codigoProvincia"
                                (ionChange)="changeProvincia()" required
                                interface="action-sheet" cancelText="Cancelar" doneText="Aceptar">
                        <ion-select-option *ngFor="let ubi of ubicacion"
                                           value="{{ubi.codigoProvincia}}">{{ubi.descripcion}}</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item *ngIf="provincia">
                    <ion-label position="floating">Cantón</ion-label>
                    <ion-select name="codigoCanton" [(ngModel)]="canchaObjeto.ubicacion.codigoCanton" required
                                interface="action-sheet" cancelText="Cancelar" doneText="Aceptar">
                        <ion-select-option *ngFor="let cant of provincia.canton"
                                           value="{{cant.codigoCanton}}">{{cant.descripcion}}</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item>
                    <ion-label position="floating">Dirección</ion-label>
                    <ion-input name="direccion" type="text" [(ngModel)]="canchaObjeto.direccion" required></ion-input>
                </ion-item>


                <ion-item>
                    <ion-label position="floating">Monto por Equipo</ion-label>
                    <ion-input name="montoEquipo" [(ngModel)]="canchaObjeto.montoEquipo" type="number"
                               required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Método de Pago</ion-label>
                    <ion-select name="metodoPago" [(ngModel)]="canchaObjeto.metodoPago.tipo" required

                                interface="action-sheet" cancelText="Cancelar" doneText="Aceptar">
                                <ion-select-option value="SINPE">SINPE Movil</ion-select-option>
                                <ion-select-option value="EFECTIVO">Efectivo en sitio</ion-select-option>
                                <ion-select-option value="AMBOS">Ambos</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-item *ngIf="canchaObjeto.metodoPago.tipo != null && canchaObjeto.metodoPago.tipo != 'EFECTIVO' ">
                    <ion-label position="floating">Numero sinpe</ion-label>
                    <ion-input name="telefonoSinpe" [(ngModel)]="canchaObjeto.telefonoSinpe" required

                             mask="0000-0000"
                             type="text"
                             maxlength="9"
                             >
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Telefono Principal</ion-label>
                    <ion-input name="telefono" [(ngModel)]="canchaObjeto.telefono" required
                            mask="0000-0000"
                            type="text"
                            maxlength="9"
                             >
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Correo Electronico</ion-label>
                    <ion-input name="correo" [(ngModel)]="canchaObjeto.correo" required type="email"></ion-input>
                </ion-item>

                <ion-row>
                    <ion-col size="6">
                        <ion-item class="ion-no-padding">
                            <ion-label>Parqueo</ion-label>
                            <ion-toggle name="parqueo" [(ngModel)]="canchaObjeto.parqueo"></ion-toggle>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item class="ion-no-padding">
                            <ion-label>Vestidor</ion-label>
                            <ion-toggle name="bestidor" [(ngModel)]="canchaObjeto.vestidor"></ion-toggle>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="6">
                        <ion-item class="ion-no-padding">
                            <ion-label>Uniforme</ion-label>
                            <ion-toggle name="uniforme" [(ngModel)]="canchaObjeto.uniforme"></ion-toggle>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item class="ion-no-padding">
                            <ion-label>Árbitro</ion-label>
                            <ion-toggle name="arbitro" [(ngModel)]="canchaObjeto.arbitro"></ion-toggle>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-item-divider class="ion-padding-top">
                    <ion-label>
                        Horario
                    </ion-label>
                </ion-item-divider>


                <ion-row>
                    <ion-col size="6">
                        <ion-item class="ion-no-padding">
                            <ion-label position="floating">Inicio</ion-label>
                            <ion-datetime name="horaInicio" [(ngModel)]="canchaObjeto.horario.horaInicio"
                                          cancelText="Cancelar" required doneText="Aceptar"
                                          displayFormat="H"></ion-datetime>
                        </ion-item>
                    </ion-col>

                    <ion-col size="6">
                        <ion-item class="ion-no-padding">
                            <ion-label position="floating">Fin</ion-label>
                            <ion-datetime name="horaFin" [(ngModel)]="canchaObjeto.horario.horaFin"
                                          cancelText="Cancelar" required doneText="Aceptar"
                                          displayFormat="H"></ion-datetime>
                        </ion-item>
                    </ion-col>

                    <!--<ion-col size="4">-->
                        <!--<ion-item class="ion-no-padding">-->
                            <!--<ion-label position="floating">Tiempo</ion-label>-->
                            <!--<ion-input name="tiempoJuego" type="number" [(ngModel)]="canchaObjeto.horario.tiempoJuego"-->
                                       <!--required></ion-input>-->
                        <!--</ion-item>-->
                    <!--</ion-col>-->
                </ion-row>


                <ion-item>
                    <ion-label position="floating">Dias</ion-label>
                    <ion-select multiple="true" name="dias" [(ngModel)]="canchaObjeto.horario.dias" required
                                interface="action-sheet" cancelText="Cancelar" doneText="Aceptar">
                        <ion-select-option *ngFor="let dia of dias" value="{{dia}}">{{dia}}</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-card class="ion-text-center" *ngIf="!isUploading && isUploaded">
                    <ion-card-content>
                        <div *ngIf="UploadedFileURL | async as url">
                            <img [src]="url"/>
                            <a [href]="url" target="_blank" rel="noopener">Download</a>
                        </div>
                        <!--<p class="ion-no-margin">Tamaño del archivo: {{ fileSize | fileSizePipe }}</p>-->
                    </ion-card-content>
                </ion-card>
                <br>

                <ion-item></ion-item>
                <ion-button type="submit" class="ion-padding" expand="block" color="secondary">
                    GUARDAR
                </ion-button>

                <br>
            </form>

            <ion-item *ngIf="actualizar" class="ion-no-padding">
                <ion-label>Estado</ion-label>
                <ion-toggle name="estado" [(ngModel)]="canchaObjeto.estado"></ion-toggle>
            </ion-item>
            <br>

            <!--<ion-button *ngIf="actualizar" (click)="elimiar()" class="ion-padding" expand="block" color="danger">-->
                <!--ELIMINAR-->
            <!--</ion-button>-->

        </ion-card-content>
    </ion-card>
</ion-content>
