
<div class="accordion" id="accordionExample">
	<div class="card" ng-repeat="list in $ctrl.listaJuegos">
		<div class="card-header" id="headingOne">
		<h5 class="mb-0">
			<button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{'#collapseOne' + list.id}}" aria-expanded="true" aria-controls="collapseOne">
			{{list.name}}
			</button>
		</h5>
		</div>
		<div ng-repeat="sub in list.sub" id="{{'collapseOne' + list.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
				{{sub}}
		</div>
	</div>
</div>
