<div class="row" ng-if="$ctrl.titulo || $ctrl.equipo">
    <div class="col-md-12">

        <div class="row">
            <div class="{{$ctrl.tablaDatos}}" ng-if="$ctrl.titulo">
                <div class="p-3 mb-2 bg-primary text-white text-center">{{$ctrl.titulo}}</div>
                <table class="table table-sm" ng-repeat="liga in $ctrl.liga.listaJuegos">
                        <tr>
                            <th>{{liga.dato0}}'</th>
                            <th> </th>
                            <th>S</th>
                            <th>M</th>
                            <th>T</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="tabla in liga">
                            <td>{{tabla.dato1}}</td>
                            <td style="width: 30%">{{tabla.nombre}}</td>
                            <th>
                                <button type="button" class="btn btn-sm btn-outline-secondary">-{{tabla.numeroNe}}</button>
                            </th>
                            <th>
                                <button type="button" class="btn btn-sm btn-outline-secondary">{{tabla.nombreU}}</button>
                            </th>
                            <th>
                                <button type="button" class="btn btn-sm btn-outline-secondary">+{{tabla.numerPos}}</button>
                            </th>
                            <th>
                                <button type="button" ng-click="$ctrl.mostrarInfo(tabla)" class="btn btn-sm btn-warning"><i class="fas fa-plus"></i></button>
                            </th>
                        </tr>

                </table>
            </div>


            <div class="{{$ctrl.infoEquipo}}" ng-if="$ctrl.equipo">
                <div class="p-3 mb-2 bg-primary text-white d-flex justify-content-between">
                    <div></div>
                    <div> {{$ctrl.equipo}}</div>

                    <button  ng-if="!$ctrl.titulo" type="button" class="btn btn-primary" ng-click="$ctrl.mostrarTabla()">
                        <i class="far fa-window-close"></i>
                    </button>

                    <div ng-if="$ctrl.titulo"></div>

                </div>

                <div class="card">

                    <dl>
                        <dt>
                            Description lists
                        </dt>
                        <dd>
                            A description list is perfect for defining terms.
                        </dd>

                        <div ng-if="!$ctrl.titulo">
                            <dt>
                                Euismod
                            </dt>
                            <dd>
                                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                            </dd>
                            <dd>
                                Donec id elit non mi porta gravida at eget metus.
                            </dd>
                            <dt>
                                Malesuada porta
                            </dt>
                            <dd>
                                Etiam porta sem malesuada magna mollis euismod.
                            </dd>
                            <dt>
                                Felis euismod semper eget lacinia
                            </dt>
                            <dd>
                                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </dd>
                        </div>

                    </dl>

                </div>

                <button type="button" ng-if="$ctrl.titulo" class="btn btn-primary btn-lg btn-block mt-3" ng-click="$ctrl.ocultarTabla()">Más</button>
            </div>

        </div>
    </div>
</div>








