<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Soccer Match</ion-title>
  </ion-toolbar>
</ion-header>


<br>
<div style="text-align: center !important;">

  <img src="../../../../assets/img/appicon.png" style="height: 70px; width: 70px;"/>

</div>

<ion-content class="ion-padding-top">
  <ion-card class="ion-padding-top">

  <p class="ion-text-center">Digite su correo para restablecer su contrasena</p>

  <form class="form ion-padding-start ion-padding-end" [formGroup]="validationsForm"  (ngSubmit)="loginUser(validationsForm.value)">

    <ion-item>
      <ion-label position="floating" color="primary">Correo</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="ion-text-center ion-padding-top">
    <ion-button  class="submit-btn" type="submit"  [disabled]="!validationsForm.valid">Restablecer</ion-button>
    </div>
    <label class="error-message">{{errorMessage}}</label>
  </form>

</ion-card>

</ion-content>
