<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{tieneEquipo ? '' : 'Equipo'}}</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="cerrarModal()">
                <ion-icon style="font-size: 25px;" md="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="tieneEquipo">
            <ion-button (click)="editarEquipo()" >
                <ion-icon *ngIf="editar" style="font-size: 25px;" md="save-sharp"></ion-icon>
                <ion-icon *ngIf="!editar" style="font-size: 25px;" md="create-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="changeColor" style="height: 100px" *ngIf="!editar && tieneEquipo">
        <br>
        <h1 class="ion-text-center" style="color: white;">{{equipoObjeto.nombre.toUpperCase()}}</h1>
    </div>
    <br>

    <ion-card>
        <ion-card-content>
            <div *ngIf="!editar && tieneEquipo" class="ion-text-center">
                <h2>{{equipoObjeto.descripcion ? equipoObjeto.descripcion : 'Sin Descripción'}}</h2>
            </div>
            <div *ngIf="!tieneEquipo">
                <p class="ion-no-margin ion-text-center">NOMBRE EQUIPO</p>
                <ion-item>
                    <ion-input type="text" class="ion-text-center" [(ngModel)]="equipoObjeto.nombre" required></ion-input>
                </ion-item>
            </div>
            <div *ngIf="editar">
                <p class="ion-no-margin ion-text-center">NOMBRE EQUIPO</p>
                <ion-item>
                    <ion-label position="floating"></ion-label>
                    <ion-input type="text" class="ion-text-center" [(ngModel)]="equipoObjeto.nombre" required></ion-input>
                </ion-item>
                <p class="ion-no-margin ion-text-center">DESCRIPCIÓN</p>
                <ion-item>
                    <ion-label position="floating"></ion-label>
                    <ion-input type="text" class="ion-text-center" [(ngModel)]="equipoObjeto.descripcion" required></ion-input>
                </ion-item>
            </div>
        </ion-card-content>
    </ion-card>



    <ion-button *ngIf="!tieneEquipo" class="ion-padding" expand="block" color="secondary" (click)="crearEquipo()">
        Crear Equipo
    </ion-button>

</ion-content>
