<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  [text]="''" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Canchas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let cancha of canchas">
          <ion-avatar slot="start">
            <!-- <img src="../../../../assets/img/cancha.jpg"> -->
            <img src="{{cancha.imagen}}">
          </ion-avatar>
          <ion-label>
            <h2>{{cancha.nombre}}</h2>
            <h3></h3>
            <p>{{cancha.direccion}}</p>
          </ion-label>
          <ion-button fill="outline" slot="end">
            Editar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarModal()" color="secondary">
      <ion-icon md="add-circle-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

