<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [text]="''" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Reserva</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngFor="let reserva of reservas">

        <ion-grid class="ion-no-padding-top">
            <ion-row class="">
                <ion-col size="3">
                    <div class="ion-text-center">
                        <div class="centrarTexto">
                            <h1 class="ion-no-margin">{{fechaCompleta(reserva.fechaReserva, "numero")}}</h1>
                            <h4 class="ion-no-margin"
                                style="font-size: 15px;"> {{fechaCompleta(reserva.fechaReserva, "mes")}} </h4>
                            <h4 class="ion-no-margin"> {{fechaCompleta(reserva.fechaReserva, "hora")}} </h4>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="9">
                    <ion-card style="height: 90px">


                        <ion-row class="">
                            <ion-col size="8">
                                <div class="ion-padding-top ion-padding-start ion-padding-bottom" style="height: 90px">
                                    <h1 style="font-size: 20px;" class="ion-no-margin">
                                        {{reserva.cancha.nombre}}</h1>
                                    <h3 style="font-size: 15px; display: inline-flex" class="ion-no-margin">
                                        Monto: ₡{{reserva.cancha.montoEquipo}}
                                    </h3>
                                    <h4 style="font-size: 15px;" class="ion-no-margin">
                                        Estado: {{reserva.estado.toLocaleLowerCase()}}</h4>
                                </div>
                            </ion-col>

                            <ion-col size="4">
                                <ion-row>
                                    <ion-button fill="outline" color="light">
                                        <ion-icon color="success" md="person-outline"></ion-icon>
                                    </ion-button>
                                </ion-row>
                                <ion-row>
                                    <ion-button fill="outline" color="light">
                                        <ion-icon color="warning" md="football-outline"></ion-icon>
                                    </ion-button>
                                </ion-row>
                            </ion-col>
                        </ion-row>


                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>


    <!--<ion-card>-->
    <!--<ion-card-content>-->
    <!--<ion-list>-->
    <!--<ion-item *ngFor="let reserva of reservas">-->
    <!--<ion-avatar slot="start">-->
    <!--</ion-avatar>-->
    <!--<ion-label>-->
    <!--<h2>{{reserva.fecha}}</h2>-->
    <!--<h3></h3>-->
    <!--<p>{{reserva.estado}}</p>-->
    <!--</ion-label>-->
    <!--&lt;!&ndash;<ion-button fill="outline" slot="end" (click)="editar(cancha);">&ndash;&gt;-->
    <!--&lt;!&ndash;Editar&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-button>&ndash;&gt;-->
    <!--</ion-item>-->
    <!--</ion-list>-->
    <!--</ion-card-content>-->
    <!--</ion-card>-->
</ion-content>
