<ion-header>
    <ion-toolbar>
        <ion-title>retos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!--<h1 class="ion-text-center">RETOS</h1>-->
    <!--<ion-card>-->
    <!--<ion-card-content>-->
    <!--<ion-list>-->
    <!--<ion-item *ngFor="let retos of retos">-->
    <!--<ion-label>-->
    <!--<h2>{{retos.region}}</h2>-->
    <!--<h3>{{retos.summary}}</h3>-->
    <!--</ion-label>-->
    <!--<ion-button fill="outline" slot="end">-->
    <!--Ver-->
    <!--</ion-button>-->
    <!--</ion-item>-->

    <!--</ion-list>-->
    <!--</ion-card-content>-->
    <!--</ion-card>-->

    <!-- <div style="height:30%;
    background-color: #003300;
    border-radius: 0 0 70px 70px;
    ">
    </div>

    <ion-button >
      BUSCAR
    </ion-button> -->

    <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">-->
    <!--<ion-fab-button color="secondary">-->
    <!--<ion-icon md="add-circle-sharp"></ion-icon>-->
    <!--</ion-fab-button>-->
    <!--</ion-fab>-->


    <ion-grid>


        <div *ngIf="retos.length == 0" class="ion-text-center">
            <br>
            <br>
            <br>
            <ion-icon style="font-size: 130px" md="jugador"></ion-icon>
            <br>
            <br>
            <h1 class="ion-no-margin ">No existen retos</h1>
            <br>
            <ion-button fill="outline" (click)="enviarReserva()" color="success">
                CREAR
            </ion-button>
        </div>

        <ion-item class="ion-text-center">
            <ion-label position="floating"></ion-label>
            <ion-select [(ngModel)]="filtro"
                        interface="action-sheet" cancelText="Cancelar" doneText="Aceptar">
                <ion-select-option value="TODO">Todos</ion-select-option>
                <ion-select-option value="PERSONALES">Personales</ion-select-option>
            </ion-select>
        </ion-item>

        <div *ngFor="let reto of retos" class="ion-padding-bottom">
            <ion-card *ngIf="validarPropietario(reto)">

                <ion-card-header class="ion-text-center">

                    <p class="ion-no-margin ">{{reto.tipo.nombre}}</p>


                </ion-card-header>

                <ion-card-content>


                    <ion-row class="ion-text-center">
                        <ion-col size="5">
                            <p class="ion-no-margin ">{{reto.partido.equipoA.nombre.toUpperCase()}}</p>
                        </ion-col>
                        <ion-col class="ion-no-padding" style="top: 6px;" size="1">
                            <p class="ion-no-padding ">VS</p>
                        </ion-col>
                        <ion-col size="5">
                            <p class="ion-no-margin ">{{reto.partido.equipoB ? reto.partido.equipoB.nombre.toUpperCase() : '?????????'}}</p>
                        </ion-col>
                    </ion-row>


                    <ion-row class="ion-text-center">
                        <ion-col size="5">
                            <ion-icon style="font-size: 50px;" md="proteger4"></ion-icon>
                        </ion-col>
                        <ion-col class="ion-no-padding" size="1">

                        </ion-col>
                        <ion-col size="5">
                            <ion-icon style="font-size: 50px;" md="proteger3"></ion-icon>
                        </ion-col>
                    </ion-row>


                    <div class="ion-text-center">
                        {{fechaCompleta(reto.fechaReserva)}}
                        <ion-row class="ion-text-center" *ngIf="filtro == 'TODO' && reto.estado != 'LISTO'">
                            <ion-col size="5">
                                <ion-button fill="outline" color="secondary"
                                            (click)="filtro != 'TODO' ? verNotificacion(reto) : informacion()">
                                    <ion-icon *ngIf="filtro == 'TODO'" md="help-circle-sharp"></ion-icon>
                                    <ion-icon *ngIf="filtro != 'TODO'" md="person-add-sharp"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col class="ion-no-padding" size="1">

                            </ion-col>
                            <ion-col size="5">
                                <ion-button fill="outline" color="secondary" (click)="enviarSolicitud(reto)">
                                    <ion-icon md="add-circle-sharp"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>

                          <ion-row class="ion-text-center" *ngIf="filtro == 'TODO' && reto.estado == 'LISTO'">
                              <ion-col size="12">
                                <ion-button fill="outline" color="success">
                                  VER DATOS
                                </ion-button>
                              </ion-col>
                            </ion-row>

                        <ion-row class="ion-text-center" *ngIf="filtro != 'TODO'">
                            <ion-col size="12">

                              <ion-button fill="outline" *ngIf="reto.estado != 'LISTO'" color="secondary" (click)="verNotificacion(reto)">
                                LISTA DE SOLICITUDES
                              </ion-button>


                              <ion-button fill="outline" color="danger" *ngIf="reto.estado == 'LISTO'" (click)="cancelarReto(reto)">
                                CANCELAR RETO
                              </ion-button>

                            </ion-col>
                        </ion-row>

                    </div>


                    <!--<ion-row>-->
                    <!--<ion-col size="10">-->
                    <!--<ion-button style="float: left;" fill="solid" color="danger">-->
                    <!--<ion-icon md="md-close"></ion-icon>-->
                    <!--</ion-button>-->
                    <!--<ion-button style="float: right;" fill="solid" color="success">-->
                    <!--Enviar Solicitud-->
                    <!--</ion-button>-->
                    <!--</ion-col>-->
                    <!--</ion-row>-->


                </ion-card-content>
            </ion-card>
        </div>
    </ion-grid>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="secondary" class="">
            <ion-icon md="plus"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="primary" data-desc="Reto">
                <ion-icon md="play-forward-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="primary" (click)="mostrarModal()" data-desc="Reserva">
                <ion-icon md="location-sharp"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>


</ion-content>
