<ion-header>
  <ion-toolbar>
    <ion-title>retos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let reto of retos">
          <ion-label>
            <h2>{{reto.region}}</h2>
            <h3></h3>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <div style="height:30%;
  background-color: #003300;
  border-radius: 0 0 70px 70px;
  ">
  </div>

  <ion-button >
    BUSCAR
  </ion-button> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarModal()" color="">
      <ion-icon md="add-circle-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
