<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  [text]="''" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios">
          <ion-label>
            <h2>{{usuario.nombre}} {{usuario.apellidos}}</h2>
            <h3></h3>
            <p>{{usuario.email}}</p>
          </ion-label>
          <ion-button fill="outline" slot="end" (click)="deshabilitar(cliente);">
            Eliminar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarModal()" color="secondary">
      <ion-icon md="add-circle-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>