<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Crear Reserva</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon style="font-size: 25px;" md="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="canchas.length == 0">
    <ion-card-header class="ion-text-center">
      <ion-card-title>Parámetros</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Provincia</ion-label>
        <ion-select [(ngModel)]="codProvincia" (ionChange)="changeProvincia()"
                    interface="action-sheet" cancelText="Cancelar" doneText="Aceptar">
          <ion-select-option *ngFor="let ubi of ubicacion" value="{{ubi.codigoProvincia}}">{{ubi.descripcion}}</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item *ngIf="provincia">
        <ion-label position="floating">Cantón</ion-label>
        <ion-select [(ngModel)]="codCanton" interface="action-sheet" cancelText="Cancelar" doneText="Aceptar">
          <ion-select-option *ngFor="let cant of provincia.canton" value="{{cant.codigoCanton}}">{{cant.descripcion}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha y Hora</ion-label>
        <ion-datetime [(ngModel)]="fechaBuscar" cancelText="Cancelar" doneText="Aceptar" displayFormat="D MMM YYYY H"></ion-datetime>
      </ion-item>
      <ion-button (click)="buscarCanchas()" class="ion-padding" expand="block" color="secondary">BUSCAR</ion-button>
      <br>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="canchas.length > 0">

    <ion-button (click)="canchas = []" class="ion-padding" expand="block" color="secondary">VOLVER</ion-button>

    <ion-row class="ion-padding-top" *ngFor="let cancha of canchas">
      <ion-col size="6">
        <div class="ion-text-center">
          <img height="100" width="100" src="../../../../assets/img/cancha.jpg">
          <h4 class="ion-no-margin">{{cancha.nombre}}</h4>
          <p class="ion-text-start" class="ion-no-margin">Direcion: {{cancha.direccion}}</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-start">
          <p class="ion-no-margin">Árbitro: NO</p>
          <p class="ion-no-margin">Parqueo: SI</p>
          <p class="ion-no-margin">Vestidor: SI</p>
          <p class="ion-no-margin">Uniforme: NO</p>
          <p class="ion-no-margin">Costo equipo: ₡10,000</p>
          <p class="ion-no-margin">Método de Pago: en sitio</p>
          <div class="ion-padding-top">
            <ion-button fill="outline" slot="end">
              Solicitar
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>
