<ion-content>
  <ion-list>

    <ion-list-header  class="ion-text-start">
    <span *ngIf="usuario.nombre"> {{(usuario.nombre + ' ' + usuario.apellidos).toUpperCase()}} </span>
      <span *ngIf="!usuario.nombre"> USUARIO </span>
    </ion-list-header>

    <ion-item button (click)="perfil()">
      <ion-icon slot="start" md="person-sharp"></ion-icon>
      Perfil
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" md="football-sharp"></ion-icon>
      Equipo
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" md="settings-sharp"></ion-icon>
      Configuración
    </ion-item>
    <ion-item button (click)="logout()">
      <ion-icon slot="start" md="log-out-sharp"></ion-icon>
      Cerrar Sesión
    </ion-item>
  </ion-list>
</ion-content>
